html {
  scroll-behavior: smooth;
}

#menu_navbar li{
  margin-left: 0;
  margin-top: -15px;
  padding: 1rem 0;
}



ul li {
  margin-left: 3rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.title {
  font-family: "Playfair Display", serif;
  color: #25282b;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  font-size: 2.5rem;
}

.subtitle {
  font-family: "Nunito", sans-serif;
  color: #828282;
  font-size: 1.125rem;
}

.amarelo {
  background: #fdc435;
}

.amarelo-border {
  border-bottom: 0.3rem solid#FDC435;
}

.amarelo-txt {
  color: #fdc435;
}

.logo {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 18px;
}

bg-background {
  background: #f9faff;
}

nav {
  position: relative;
  z-index: 2;
}

img {
  position: relative;
  top: 0;
  z-index: 0;
  right: 0;
}

#project {
  box-shadow: 0px 6px 64px 0px #7090b01a;
  background: #ffffff;
  /* background-color: #411111; */
}

#nav_mobile{
  
  
}

:root {
  --animate-delay: 1s;
}

.animate__slideInLeft {
  --animate-duration: 2s;
}

.animate__fadeIn {
  --animate-duration: 2s;
}


.openNavAnimation{
  -webkit-animation: OpenNavAnimation 0.4s ease-out both;
	        animation: OpenNavAnimation 0.4s ease-out both;
}

.closeNavAnimation{
  -webkit-animation: closeNavAnimation 1s ease-out both;
  animation: closeNavAnimation 1s ease-out both;
}


 @-webkit-keyframes OpenNavAnimation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes OpenNavAnimation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}




